# Patterns
.siconos
*.so
/TAGS

# Generated documentation files
/Docs/sphinx/conf.py
/Docs/sphinx/index.rst
/Docs/sphinx/reference/siconos_api_reference.rst

# Test binaries
examples/Numerics/FrictionalContact/GlobalFrictionalContact3D
examples/Numerics/FrictionalContact/GlobalFrictionalContact3D_SparseBlockStorage
examples/Numerics/FrictionalContact/FrictionalContact3D_SparseBlockStorage
examples/Numerics/FrictionalContact/FrictionalContact3D
examples/Biology/StepSystem/src/myDS
examples/Biology/StepSystem/src/NonlinearRelationReduced2
examples/Biology/StepSystem/src/NonlinearRelationReduced
examples/Biology/StepSystem/src/NonlinearRelationWithSign
examples/Biology/StepSystem/src/NonlinearRelationWithSignInversed
examples/Biology/StepSystem/src/NonlinearRelation
examples/Biology/StepSystem/StepSystem
examples/Biology/StepSystem/SignSystem
examples/Biology/StepSystem/StepSystemReduced
examples/Electronics/DiodeBridgePowSup/SinPoPlugin/SinPoPlugin
examples/Electronics/DiodeBridgePowSup/DiodeBridgePowSup
examples/Electronics/ColpittsOscillator/ColpittsOscillator
examples/Electronics/Circuit-ThetaGammaSchemes/DiodeBridge-ThetaGammaSchemes
examples/Electronics/Circuit-ThetaGammaSchemes/DiodeBridgeCapFilter-ThetaGammaSchemes
examples/Electronics/Circuit-ThetaGammaSchemes/CircuitRLCD-ThetaGammaSchemes
examples/Electronics/PowerConverter/PRC
examples/Electronics/PowerConverter/PRCPlugin/PRCPlugin
examples/Electronics/DiodeBridge/DiodeBridge
examples/Electronics/IdealSwitch/src/myDS
examples/Electronics/IdealSwitch/src/elecRelation
examples/Electronics/IdealSwitch/NonLinearSwitch
examples/Electronics/DiodeBridgeCapFilter/DiodeBridgeCapFilter
examples/Electronics/CircuitRLCD/CircuitRLCD
examples/Mechanics/CamFollower/CamFollowerRheonomorous
examples/Mechanics/CamFollower/FollowerPlugin/FollowerPlugin
examples/Mechanics/CamFollower/CamFollowerNoXML
examples/Mechanics/BouncingBallEventDriven/BouncingBallEDwithRestingContact
examples/Mechanics/BouncingBallEventDriven/BouncingBallED
examples/Mechanics/BouncingBallEventDriven/BouncingBallTwoConED
examples/Mechanics/BouncingBallEventDriven/BallPlugin/BallPlugin
examples/Mechanics/BouncingBallEventDriven/BouncingBallED-HEM5
examples/Mechanics/Disks/src/DisksViewer
examples/Mechanics/Disks/src/BodiesViewer
examples/Mechanics/Disks/src/Disks
examples/Mechanics/Disks/QGLDisks
examples/Mechanics/Spheres/Lagrangian/src/Spheres
examples/Mechanics/Spheres/Lagrangian/src/SpheresViewer
examples/Mechanics/Spheres/Lagrangian/src/BodiesViewer
examples/Mechanics/Spheres/Lagrangian/QGLSpheres
examples/Mechanics/Spheres/NewtonEuler/src/Spheres
examples/Mechanics/Spheres/NewtonEuler/src/SpheresViewer
examples/Mechanics/Spheres/NewtonEuler/src/BodiesViewer
examples/Mechanics/Spheres/NewtonEuler/QGLSpheres
examples/Mechanics/BallOnMovingPlane/BallLagrangianDSOnMovingPlane
examples/Mechanics/BallOnMovingPlane/BallOnMovingPlanePlugin/BallOnMovingPlanePlugin
examples/Mechanics/BallOnMovingPlane/BallOnMovingPlane
examples/Mechanics/BallOnMovingPlane/BallNewtonEuler
examples/Mechanics/BallOnMovingPlane/BallNewtonEulerOnMovingPlane
examples/Mechanics/ColumnOfBeads/ColumnOfBeadsTS
examples/Mechanics/ColumnOfBeads/BeadColumnED_LZBModel
examples/Mechanics/ColumnOfBeads/ColumnOfBeadsTS-CombinedProjection
examples/Mechanics/ColumnOfBeads/BeadColumnED_NewtonLaw
examples/Mechanics/ColumnOfBeads/ColumnOfBeadsTS-ProjectOnConstraints
examples/Mechanics/SliderCrank/SliderCrankMoreauJeanCombinedProjectionOSI
examples/Mechanics/SliderCrank/SliderCrankD1MinusLinearVelocityLevel
examples/Mechanics/SliderCrank/SliderCrankMoreauJeanDirectProjectionOSI
examples/Mechanics/SliderCrank/SliderCrankD1MinusLinear
examples/Mechanics/SliderCrank/SliderCrankPlugin/SliderCrankPlugin
examples/Mechanics/SliderCrank/SliderCrankMoreauJeanOSI
examples/Mechanics/yoyo/YoyoPlugin/YoyoPlugin
examples/Mechanics/yoyo/Yoyo
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP_MoreauJeanCombinedProjection
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP
examples/Mechanics/JointsTests/NE_BouncingBeam
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_GMP
examples/Mechanics/JointsTests/NE_1DS_1Knee_MLCP_MoreauJeanCombinedProjection
examples/Mechanics/JointsTests/PrismaticTest
examples/Mechanics/JointsTests/NE_1DS_1Knee_MLCP
examples/Mechanics/RockingBlock/RockingBlockTS-CombinedProjection
examples/Mechanics/RockingBlock/RockingBlockPlugin/RockingBlockPlugin
examples/Mechanics/RockingBlock/RockingBlockED_Lsodar_LZBimpact
examples/Mechanics/RockingBlock/RockingBlockED
examples/Mechanics/RockingBlock/RockingBlockED_NewMarkAlpha
examples/Mechanics/RockingBlock/RockingBlockTS
examples/Mechanics/RockingBlock/RockingBlockTS-ProjectOnConstraints
examples/Mechanics/FEM/python/block
examples/Mechanics/PendulumOnASlider/PendulumPlugin/PendulumPlugin
examples/Mechanics/PendulumOnASlider/PendulumAttachedToSlider
examples/Mechanics/ContactDetection/BulletBouncingBox/BulletBouncingBox
examples/Mechanics/ContactDetection/BulletBouncingBox/BulletBouncingBoxDynamic
examples/Mechanics/BouncingBall/BouncingBallTS
examples/Mechanics/BouncingBall/BouncingBallTS-CombinedProjection
examples/Mechanics/BouncingBall/BouncingBallD1MinusLinear
examples/Mechanics/BouncingBall/BouncingBallTS-dynamic
examples/Mechanics/BouncingBall/BouncingBallTS-Dynamic
examples/Mechanics/BouncingBall/.siconos/CMakeFiles/3.2.2/CompilerIdCXX/CMakeCXXCompilerId
examples/Mechanics/BouncingBall/BouncingBallTS-Scleronomous
examples/Mechanics/BouncingBall/BouncingBallPlugin/BouncingBallPlugin
examples/Mechanics/BouncingBall/BallPlugin/BallPlugin
examples/Mechanics/BouncingBall/BouncingBallSchatzmanPaoli
examples/Mechanics/BouncingBall/BouncingBallTS-ProjectOnConstraints
examples/Mechanics/Woodpecker/WoodPecker
examples/Mechanics/Woodpecker/WoodPeckerPlugin/WoodPeckerPlugin
examples/Mechanics/ChainOfBalls/MonodisperseChainOfBalls
examples/Mechanics/ChainOfBalls/TaperedChainOfBalls
examples/Mechanics/Pendulum/SimplePendulumED_AlphaScheme
examples/Mechanics/Pendulum/SimplePendulumPlugin/SimplePendulumPlugin
examples/Mechanics/Pendulum/DoublePendulumTS
examples/Mechanics/Pendulum/SimplePendulumTS
examples/Mechanics/Pendulum/DoublePendulumSymPyPlugin/DoublePendulumSymPyPlugin
examples/Mechanics/Pendulum/SimplePendulumBilateralConstraintPlugin/SimplePendulumBilateralConstraintPlugin
examples/Mechanics/Pendulum/DoublePendulumPlugin/DoublePendulumPlugin
examples/Mechanics/Pendulum/SimplePendulumED_Lsodar
examples/Mechanics/NewtonEuler/BouncingBallNETS
examples/Mechanics/Mechanisms/Trip_Magnetic/plugins/plugin1
examples/Mechanics/Mechanisms/SliderCrank/SliderCrankPlugin/SliderCrankPlugin
examples/Mechanics/Mechanisms/ShaftTube/TubePlugin/TubePlugin
examples/Mechanics/ImpactingBar/ImpactingBarD1minusLinear
examples/Mechanics/ImpactingBar/ImpactingBar
examples/Mechanics/JointsTestsWithInternalForces/NE_BouncingBeam
examples/Mechanics/JointsTestsWithInternalForces/NE_1DS_1Knee_MLCP_withSprings
examples/Mechanics/JointsTestsWithInternalForces/SimplePlugin/SimplePlugin
examples/Mechanics/JointsTestsWithInternalForces/NE_3DS_3Knee_1Prism_MLCP_withSprings
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_MLCP
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_GMP
examples/Mechanics/JointsTestsWithBoundaryConditions/Beam1Plugin/Beam1Plugin
examples/Mechanics/FourBarLinkageWith3clearance/FourBarClearancePlugin/FourBarPluginClearance
examples/Mechanics/FourBarLinkageWith3clearance/FourBarClearance
examples/Robotics/RX90/RX90CircleED
examples/Robotics/RX90/RX90CircleTS
examples/Robotics/RX90/RX90Plugin/KernelSomeDefinitions
examples/Robotics/RX90/RX90Plugin/ActuationModelSomeDefinitions
examples/Robotics/RX90/RX90Plugin/ControlLaw
examples/Robotics/RX90/RX90Plugin/Utils
examples/Robotics/RX90/RX90Plugin/RX90Plugin
examples/Robotics/RX90/RX90Plugin/ActuationDynamics
examples/Robotics/RX90Control/src/SensorX
examples/Robotics/RX90Control/src/DelayedSampledActuator
examples/Robotics/RX90Control/src/KernelDefinitions
examples/Robotics/RX90Control/src/ControlLaw
examples/Robotics/RX90Control/src/Utils
examples/Robotics/RX90Control/RX90CircleTS
examples/Robotics/RX90Control/RX90Plugin/RX90Plugin
examples/Robotics/HuMAns_Bip/RobotTS
examples/Robotics/HuMAns_Bip/RobotFrotPlugin/RobotFrotPlugin
examples/Robotics/HuMAns_Bip/RobotFrot
examples/Robotics/HuMAns_Bip/RobotPlugin/RobotPlugin
examples/Robotics/HuMAns_pa10/RobotTS
examples/Robotics/HuMAns_pa10/RobotED
examples/Robotics/HuMAns_pa10/RobotPlugin/RobotPlugin
examples/Control/SMC/SMCExampleImplicit
examples/Control/SMC/SMCExampleImplicitOT2
examples/Control/SMC/RelayPlugin/RelayPlugin
examples/Control/SMC/SMCExampleExplicit
examples/Control/SMC/electro_pneumatic_nantesPlugin/electro_pneumatic_nantes
examples/Control/SMC/SMCElectroPneumaticItw
examples/Control/SMC/RelayPluginUnperturbed/RelayPluginUnperturbed
examples/Control/SMC/SMCElectroPneumatic
examples/Control/Observer/SlidingReducedOrderObserver
examples/Control/Observer/LuenbergerObserver
examples/Control/Relay/plugins/RelayPlugin
examples/Control/Relay/plugins/ParallelInverterPlugin
examples/Control/Relay/RelayBiSimulation
examples/Control/Relay/RelayPlugin/RelayPlugin
examples/Control/Relay/RelayPlugin/ParallelInverterPlugin
examples/Control/Relay/ParallelInverter
examples/Control/Relay/SimpleExampleRelay
examples/Control/Relay/Twisting
examples/Control/Relay/Filippov
examples/Control/TwoLinkManipulator/TwolinkMultiFlex
examples/Control/TwoLinkManipulator/Two-linkFlexiblePlugin/Two-linkFlexiblePlugin
examples/Control/TwoLinkManipulator/TwolinkMultiFlexPlugin/TwolinkMultiFlexPlugin
examples/Control/TwoLinkManipulator/Two-linkMulticonstrManip
examples/Control/TwoLinkManipulator/Two-linkFlexible
examples/Control/TwoLinkManipulator/Two-linkPlugin/Two-linkPlugin
examples/Control/TwoLinkManipulator/Two-linkMultiPlugin/Two-linkMultiPlugin
examples/Control/TwoLinkManipulator/Two-linkManipulator
examples/Control/ObserverLCS/SingleDSObserverLCSPlugin/SingleDSObserverLCSPlugin
examples/Control/ObserverLCS/ObserverLCSPlugin/ObserverLCSPlugin
examples/Control/ObserverLCS/SingleDSObserverLCS
examples/Control/ObserverLCS/ObserverLCS
examples/Control/OptimalControl/src/myDS
examples/Control/OptimalControl/src/adjointInput
examples/Control/OptimalControl/OptimalControl
examples/Control/PID/PID
examples/Control/RelayOscillator/RelayOscillator
examples/Control/RelayOscillator/RelayOscillatorWithSliding
examples/Control/RelayOscillator/RelayOscillatorWithChattering
examples/Control/SOSM/PluginF/PluginF

# Test output files (find examples/ -name *.cpp | xargs grep \\.dat | sed 's/\(.*\/\).*cpp:.*"\(.*\.dat\)".*/\1\2/' | sort -u >>.gitignore)
examples/Control/ObserverLCS/ObserverLCS.dat
examples/Control/ObserverLCS/SingleDSObserverLCS.dat
examples/Control/Observer/LuenbergerObserver.dat
examples/Control/Observer/SlidingReducedOrderObserver.dat
examples/Control/OptimalControl/OptimalControl.dat
examples/Control/PID/result.dat
examples/Control/Relay/Filippov.dat
examples/Control/RelayOscillator/RelayOscillator.dat
examples/Control/RelayOscillator/RelayOscillatorWithChattering.dat
examples/Control/RelayOscillator/RelayOscillatorWithSliding.dat
examples/Control/Relay/ParallelInverter.dat
examples/Control/Relay/RelayBiSimulation-Controller.dat
examples/Control/Relay/SimpleExampleRelay.dat
examples/Control/Relay/Twisting.dat
examples/Control/SMC/SMCElectroPneumatic.dat
examples/Control/SMC/SMCElectroPneumaticItw.dat
examples/Control/SMC/SMCExampleExplicit.dat
examples/Control/SMC/SMCExampleImplicit.dat
examples/Control/SMC/SMCExampleImplicitOT2.dat
examples/Control/TwoLinkManipulator/result.dat
examples/Electronics/ColpittsOscillator/Colpitts.dat
examples/Electronics/DiodeBridgePowSup/DiodeBridgePowSup.dat
examples/Electronics/PowerConverter/PRC.dat
examples/Mechanics/BallOnMovingPlane/BallNewtonEuler.dat
examples/Mechanics/BallOnMovingPlane/BallNewtonEulerOnMovingPlane.dat
examples/Mechanics/BallOnMovingPlane/result.dat
examples/Mechanics/BouncingBallEventDriven/result.dat
examples/Mechanics/BouncingBallEventDriven/resultTwoConED.dat
examples/Mechanics/BouncingBall/result.dat
examples/Mechanics/BouncingBall/result-scleronomous.dat
examples/Mechanics/BouncingBall/result_tdg.dat
examples/Mechanics/CamFollower/result.dat
examples/Mechanics/ChainOfBalls/data_impact.dat
examples/Mechanics/ChainOfBalls/result.dat
examples/Mechanics/ColumnOfBeads/data_impact.dat
examples/Mechanics/ColumnOfBeads/result.dat
examples/Mechanics/ColumnOfBeads/result-level0.dat
examples/Mechanics/ColumnOfBeads/result-level1.dat
examples/Mechanics/ContactDetection/BulletBouncingBox/result.dat
examples/Mechanics/ContactDetection/BulletBouncingBox/result-gp.dat
examples/Mechanics/Disks/src/disks.dat
examples/Mechanics/Disks/src/plans.dat
examples/Mechanics/FEM/python/result.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1_ey1.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1x_ey1x.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1xy1_ey1xy1.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1xy2_ey1xy2.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1xy3_ey1xy3.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1xy4_ey1xy4.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex1xy_ey1xy.dat
examples/Mechanics/FourBarLinkageWith3clearance/ex_ey.dat
examples/Mechanics/FourBarLinkageWith3clearance/Link1.dat
examples/Mechanics/FourBarLinkageWith3clearance/Link2.dat
examples/Mechanics/FourBarLinkageWith3clearance/Link3.dat
examples/Mechanics/FourBarLinkageWith3clearance/Link4.dat
examples/Mechanics/FourBarLinkageWith3clearance/time.dat
examples/Mechanics/ImpactingBar/ImpactingBarD1MinusLinear.dat
examples/Mechanics/ImpactingBar/ImpactingBar.dat
examples/Mechanics/JointsTests/NE_1DS_1Knee_MLCP_beam1.dat
examples/Mechanics/JointsTests/NE_1DS_1Knee_MLCP.dat
examples/Mechanics/JointsTests/NE_1DS_1Knee_MLCP_MoreauJeanCombinedProjection.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_beam1.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_beam2.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_beam3.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_GMP.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP_beam1.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP_beam2.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP_beam3.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP.dat
examples/Mechanics/JointsTests/NE_3DS_3Knee_1Prism_MLCP_MoreauJeanCombinedProjection.dat
examples/Mechanics/JointsTests/NE_BouncingBeam_beam.dat
examples/Mechanics/JointsTests/NE_BouncingBeam.dat
examples/Mechanics/JointsTests/result.dat
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_beam1.dat
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_beam2.dat
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_beam3.dat
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_GMP.dat
examples/Mechanics/JointsTestsWithBoundaryConditions/NE_3DS_3Knee_1Prism_MLCP.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_3DS_3Knee_1Prism_MLCP_beam1.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_3DS_3Knee_1Prism_MLCP_beam2.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_3DS_3Knee_1Prism_MLCP_beam3.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_3DS_3Knee_1Prism_MLCP.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_BouncingBeam_beam.dat
examples/Mechanics/JointsTestsWithInternalForces/NE_BouncingBeam.dat
examples/Mechanics/NewtonEuler/result.dat
examples/Mechanics/Pendulum/DoublePendulumResult.dat
examples/Mechanics/PendulumOnASlider/result.dat
examples/Mechanics/Pendulum/result.dat
examples/Mechanics/Pendulum/SimplePendulumResult.dat
examples/Mechanics/RockingBlock/data_impact.dat
examples/Mechanics/RockingBlock/result.dat
examples/Mechanics/SliderCrank/result.dat
examples/Mechanics/Spheres/Lagrangian/src/plans.dat
examples/Mechanics/Spheres/Lagrangian/src/spheres.dat
examples/Mechanics/Spheres/NewtonEuler/src/plans.dat
examples/Mechanics/Spheres/NewtonEuler/src/spheres.dat
examples/Mechanics/Woodpecker/result.dat
examples/Mechanics/yoyo/fichier.dat
examples/Mechanics/yoyo/result.dat
examples/Numerics/FrictionalContact/Example1_Fc3D_SBM.dat
examples/Numerics/FrictionalContact/Example1_Fc3D_SBM-solution.dat
examples/Numerics/FrictionalContact/Example_GlobalFrictionContact.dat
examples/Numerics/FrictionalContact/Example_GlobalFrictionContact_SBM.dat
examples/Robotics/HuMAns_Bip/result.dat
examples/Robotics/HuMAns_pa10/result.dat
examples/Robotics/RX90Control/result.dat
examples/Robotics/RX90/result.dat
